DATABASE_URL="postgresql://postgres:PPPP@localhost:5432/ecommerce"

NEXTAUTH_URL=https://PPPP.com

NEXTAUTH_SECRET=PPPP

STRIPE_SECRET_KEY=PPPP
STRIPE_WEBHOOK_SECRET=PPPP

EASYPAISA_ACCOUNT_NUMBER=03232147147

JAZZCASH_MERCHANT_ID=PPPP
JAZZCASH_PASSWORD=PPPP
JAZZCASH_INTEGRITY_SALT=PPPP

RESEND_API_KEY=PPPP

ADMIN_EMAIL=PPPP
ADMIN_PASSWORD=PPPP
