DATABASE_URL="postgresql://postgres:popo1122@localhost:5432/ecommerce"

NEXTAUTH_URL=https://localhost:3000
NEXTAUTH_SECRET=lE41amxD/EjTRIVIoiq72QwqIQm08At9WDlDDcyfyJk=

STRIPE_SECRET_KEY=PPPP
STRIPE_WEBHOOK_SECRET=PPPP

EASYPAISA_ACCOUNT_NUMBER=03232147147

JAZZCASH_MERCHANT_ID=PPPP
JAZZCASH_PASSWORD=PPPP
JAZZCASH_INTEGRITY_SALT=PPPP

RESEND_API_KEY=PPPP

ADMIN_EMAIL=waqsak@hotmail.com
ADMIN_PASSWORD=momo1122
